:root {
  --nav-color: #cedada;
  --bg-color: 5px 42px;
  --mint: #CFF6E3; 
}

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* semantic stylings */
header {
  /* margin-top: 150px; */
}

nav{
  background-color: var(--nav-color);
  /* font-size: 12px; */
}

main {
  /* margin-top: 90px; */
  position: relative;
  min-height: 65vh;
}


/* Button stylings */
.button{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    background-color: red;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:var(--mint);
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-green {
  /* background-color: ; */
}

.button:hover {

}
.button:active{

}

/* text styling */
h5 {
  letter-spacing: 10px;
}

.navBrand {
  letter-spacing: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

.titles {
  letter-spacing: 10px;
  font-variant: small-caps;
  font-weight: 200;
}

/*======================
    404 page
=======================*/


.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

/* .page_404  img{ width:100%;} */

.four_zero_four_bg {

  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}


.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}